[Unit]
Description=AI Celery Worker Service
After=network.target

[Service]
User=cuneyt
Group=cuneyt
WorkingDirectory=/home/cuneyt/DiskD/Projects/AIArchitecture/
Environment="PATH=/home/cuneyt/DiskD/Projects/AIArchitecture/env/bin" "PYTHONPATH=/home/cuneyt/DiskD/Projects/AIArchitecture" "CELERY_BROKER_URL=redis://ai_queue_redis:6379/0"
ExecStartPre=-/bin/bash -c 'source /home/cuneyt/DiskD/Projects/AIArchitecture/env/bin/activate && echo "Virtual environment activated"'
ExecStart=/home/cuneyt/DiskD/Projects/AIArchitecture/env/bin/python -m celery -A tasks worker --loglevel=info
Restart=always

[Install]
WantedBy=multi-user.target