[Unit]
Description=AI Celery Worker Service
# [KRİTİK BAĞIMLILIK]: Docker motoru ve ağ katmanları tamamen ayağa kalkmadan bu servisi asla başlatma
After=network.target docker.service
Requires=docker.service

[Service]
User=cuneyt
Group=cuneyt
WorkingDirectory=/home/cuneyt/DiskD/Projects/AIArchitecture
Environment="PATH=/home/cuneyt/DiskD/Projects/AIArchitecture/env/bin" "PYTHONPATH=/home/cuneyt/DiskD/Projects/AIArchitecture"
ExecStart=/home/cuneyt/DiskD/Projects/AIArchitecture/env/bin/python -m celery -A tasks worker --loglevel=info
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
